/* fonts project */

@font-face {
    font-family: 'Lato_bold';
    src: url('./assets/fonts/Lato-Black.eot');
    src: url('./assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Lato-Bold.woff2') format('woff2'),
        url('./assets/fonts/Lato-Bold.woff') format('woff'),
        url('./assets/fonts/Lato-Bold.ttf') format('truetype'),
        url('./assets/fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_regular';
    src: url('./assets/fonts/Lato-Regular.eot');
    src: url('./assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Lato-Regular.woff2') format('woff2'),
        url('./assets/fonts/Lato-Regular.woff') format('woff'),
        url('./assets/fonts/Lato-Regular.ttf') format('truetype'),
        url('./assets/fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_black';
    src: url('./assets/fonts/Lato-Black.eot');
    src: url('./assets/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Lato-Black.woff2') format('woff2'),
        url('./assets/fonts/Lato-Black.woff') format('woff'),
        url('./assets/fonts/Lato-Black.ttf') format('truetype'),
        url('./assets/fonts/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_light';
    src: url('./assets/fonts/Lato-Light.eot');
    src: url('./assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Lato-Light.woff2') format('woff2'),
        url('./assets/fonts/Lato-Light.woff') format('woff'),
        url('./assets/fonts/Lato-Light.ttf') format('truetype'),
        url('./assets/fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* main css */

* {
    box-sizing: border-box;
    color: #666d89;
}

#portfolio,
#services,
#about-us,
#feedback-form,
#home {
    scroll-margin-top: 95px;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato_regular', Verdana, sans-serif;
}

main {
    padding-top: 95px;
}

h2 {
    font-family: 'Lato_black', Verdana, sans-serif;
    font-size: 3rem;
    color: #666d89;
}

h3 {
    font-family: 'Lato_black', Verdana, sans-serif;
    font-size: 1.8rem;
    color: #666d89;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

a {
    text-decoration: none;
    color: #f0d8d9;
}

/* header styles */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 95px;
    background-color: #2d303a;
    z-index: 3;
}

.header__line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: #323746;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
}

.logo {
    font-family: 'Lato_bold', Verdana, sans-serif;
    font-size: 2.6rem;
    text-transform: uppercase;
    letter-spacing: -1.3px;
    line-height: 2.6rem;
    color: #fff;
}

.header__navigation {
    margin-top: 13.4px;
}

.navigation li {
    display: inline-block;
    font-family: 'Lato_bold', Verdana, sans-serif;
    font-size: 1.15rem;
    line-height: 1.2rem;
}

.navigation_link {    
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.navigation_point {
    position: relative;
    top: -2.5px;
    margin: 0 11.6px 12px;
}

.logo span, .navigation_active, .navigation_link:hover {
    color: #f06c64;
}

/* section slider style */

.slider {
    position: relative;
    width: 100%;
    max-height: 600px;
    background-color: #f06c64;
}

.slider__line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}

.slider_bg {
    background-color: #648BF0;
}

.slider__wrapper {
    position: relative;
    padding: 53px 112px 64px;
    overflow: hidden;
}

.slides {
    position: relative;
    display: none;
    animation: 0.5s ease-in-out;
}

.slides_visible, .next {
    display: block;
}

.next {
    position: absolute;
    top: 53px;
    width: 100%;
}

.slider-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-item img:last-child {
    position: relative;
    left: 1px;
    bottom: 1px;
}

.vertical-iphone {
    max-width: 240px;
    max-height: 483px;
    margin-right: 72px;
}

.vertical-iphone img {
    width: 100%;
}

.horizontal-iphone {
    max-width: 484px;
    max-height: 240px;
}

.horizontal-iphone img {
    width: 100%;
}

.vertical-black-window {
    position: absolute;
    top: 65px;
    left: 14px;
    display: none;
    width: 188px;
    height: 333px;
    background-color: #2d303a;
}

.vertical-black-window.active {
    display: block;
}

.vertical-i-button {
    position: absolute;
    bottom: 33px;
    left: 86px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
}

.horizontal-black-window {
    position: absolute;
    top: 136px;
    left: 372px;
    display: none;
    height: 188px;
    width: 333px;
    background-color: #2d303a;
}

.horizontal-black-window.active {
    display: block;
}

.horizontal-i-button {
    position: absolute;
    bottom: 233px;
    left: 320px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
}

.left-phone {
    position: relative;
    max-width: 157px;
    max-height: 314px;
    margin-left: 116px;
    left: 24px;
}

.left-phone img {
    width: 100%;
}

.center-phone {
    max-width: 255px;
    max-height: 513px;
    z-index: 1;
}

.center-phone img {
    width: 100%;
}

.right-phone {
    position: relative;
    max-width: 157px;
    max-height: 314px;
    margin-right: 116px;
    left: -26px !important;
}

.right-phone img {
    width: 100%;
}

.arrow {
    position: absolute;
    top: 47%;
    width: 16px;
    height: 27px;
    cursor: pointer;
    transition: all .3s;
}

.arrow.right {
    left: 92px;
    background-image: url(./assets/img/slider/right-arrow.png);
}

.arrow.right-blue {
    background-image: url(./assets/img/slider/arrow-right-blue.png);
}

.arrow.left {
    left: 42px;
    background-image: url(./assets/img/slider/left-arrow.png);
}

.arrow.left-blue {
    background-image: url(./assets/img/slider/arrow-left-blue.png);
}

.control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 148px;
    cursor: pointer;
}

.control.left {
    left: 0;
    right: auto;
}

.control.right {
    left: auto;
    right: 0;
}

.control.left:hover .arrow.left {
    transform: translateX(-5px);
}

.control.right:hover .arrow.right {
    transform: translateX(5px);
}

.to-left {
    animation-name: left;
}
  
.from-right {
    animation-name: right;
}
  
.to-right {
    animation-name: right;
    animation-direction: reverse;
}
  
.from-left {
    animation-name: left;
    animation-direction: reverse;
}
  
@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}
  
@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

/* section services style */

.services {
    position: relative;
    background-color: #f2f2f2;
}

.services__line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: #ffffff;
}

.services__wrapper {
    padding-top: 62px;
}

.services__title {
    margin-bottom: 21px;
}

.services__wrapper>p {
    margin-bottom: 46px;
    font-family: 'Lato_light', Verdana, sans-serif;
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: -0.1px;
    text-align: justify;
}

.loyout-3-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 35px;
}

.services-item {
    display: flex;
    flex: 1 33%;
    margin-right: 4px;
    margin-bottom: 32px;
    max-width: 300px;
}

.services-item:nth-child(3n) {
    margin-right: 0;
}

.services-item dt {
    position: relative;
    top: 1px;
    left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 59px;
    margin-right: 20px;
    border: 2px solid #666d89;
    border-radius: 50%;
}

.services-item dd {
    position: relative;
    top: -1px;
    left: 1px;
    width: 220px;
}

.services-item dd h3 {
    margin-bottom: 10px;
}

.services-item:nth-child(5n) dd h3 {
    letter-spacing: -0.5px;
}

.services-item dd p {
    font-size: 1.2rem;
    line-height: 2.1rem;
    letter-spacing: -0.1px;
    text-align: justify;
}

/* portfolio style */

.portfolio {
    position: relative;
    width: 100%;
    max-height: 1869px;
    background-color: #2d303a;
}

.portfolio__line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: #323746;
}

.portfolio__wrapper {
    padding: 62px 30px 72px;
}

.portfolio__header {
    padding-left: 10px;
}

.portfolio__title {
    margin-bottom: 27px;
    letter-spacing: 0.2px;
}

.portfolio__description {
    font-size: 1.8rem;
    letter-spacing: -0.35px;
}

.tab {
    margin: 17px 0 19px;
    margin-left: 10px;
}

.tab-button {
    margin-right: 8px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 7px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    border-radius: 5px;
    font-family: 'Lato_regular', Verdana, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0;
    cursor: pointer;
}

.tab-button:nth-child(3n), .tab-button:nth-child(4n) {
    padding-left: 5px;
    padding-right: 5px;
}

.tab-button:hover {
    border: 1px solid #fff;
    color: #fff;
}

.tab-button_active {
    border: 1px solid #fff;
    color: #fff;
}

.tab__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.tab__image {
    margin: 10px;
    flex: 1 0 20%;
}

.tab__image:before {
    content: "";
    float: left;
    padding-top: 100%;
}

.tab__image:nth-child(1n+13) {
    visibility: hidden;
}

.tab_active { 
    border: 5px solid #F06C64;
}

/* about us style */

.about-us {
    position: relative;
    width: 100%;
    max-height: 2000px;
    background-color: #f2f2f2;
}

.about-us__line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: #fff;
}

.about-us__wrapper {
    padding: 62px 30px 72px;
}

.about-us__header {
    padding-left: 10px;
}

.about-us__title {
    margin-bottom: 21px;
    letter-spacing: -0.2px;
}

.about-us__description {
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: -0.2px;
    text-align: justify;
}

.about-us__content {
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 45px;
}

.personality {
    position: relative;
    margin: 10px;
    flex: 1 0 30%
}

.personality:before {
    content: "";
    float: left;
    padding-top: 100%;
}

.personality__photo {
    width: 100%;
}

.personality__name {
    margin-top: 16px;
    margin-bottom: 9.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.personality__name:nth-child(2n) {
    letter-spacing: -0.1px;
}

.personality:nth-child(3n) .personality__name {
    letter-spacing: 0.1px;
}

.personality:nth-child(3n) .personality__ico {
   position: relative;
   left: -1px;
}

.personality__description {
    font-size: 1.2rem;
    line-height: 2.1rem;
    /* letter-spacing: -0.1px; */
    text-align: justify;
}

.personality:first-child .personality__description {
    letter-spacing: -0.2px;
}

.personality__ico {
    margin-top: 24px;
}

.ico-fb {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 1px;
    margin-right: 5.5px;
    background: url("./assets/img/about_us/Facebook.png");
    cursor: pointer;
}

.ico-google {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5.5px;
    background: url("./assets/img/about_us/Google.png");
    cursor: pointer;
}

.ico-tw {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5.5px;
    background: url("./assets/img/about_us/Twitter.png");
    cursor: pointer;
}

.ico-l-in {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("./assets/img/about_us/LinkedIn.png");
    cursor: pointer;
}

/* form style */

.feedback-form {
    position: relative;
    width: 100%;
    height: 654px;
    background-color: #f06c64;
}

.feedback-form h2, .feedback-form h3, .feedback-form p {
    color: #f0d8d9;
}

.feedback-form__wrapper {
    padding-top: 62px;
}

.feedback-form__title {
    letter-spacing: -0.1px;
}

.feedback-form__description {
    margin: 21px 0 44px;
    font-family: 'Lato_light', Verdana, sans-serif;
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: -0.2px;
    text-align: justify;
}

.feedback-form__line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}

.feedback {
    display: flex;
}

.form {
    min-width: 619px;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    margin-bottom: 16px;
    padding-left: 14px;
    padding-bottom: 3px;
    border: 1px solid #d6564f;
    border-radius: 5px;
    outline: none;
    background-color: #d6564f;
    color: #f48c8f;
    font-family: 'Lato_regular', Verdana, sans-serif;
    font-size: 1.2rem;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border: 1px solid #f48c8f;
}

input[type=text], input[type=email] {
    height: 38px;
}

input::placeholder, textarea::placeholder {
    font-size: 1.2rem;
    color: #f48c8f;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 1.2rem;
    color: #f48c8f;
} 

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 1.2rem;
    color: #f48c8f;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    font-size: 1.2rem;
    color: #f48c8f;
}

textarea {
    height: 202px;
    padding-top: 9px;
}

input[type=submit] {
    position: relative;
    bottom: 55px;
    left: 640px;
    width: 20%;
    height: 38px;
    border: 1px solid #d6564f;
    border-radius: 5px;
    outline: none;
    background-color: #d6564f;
    font-family: 'Lato_regular', Verdana, sans-serif;
    font-size: 1.2rem;
    color: #f48c8f;
    cursor: pointer;
}

input[type=submit]:hover {
    border: 1px solid #f48c8f;
    color: #f0d8d9;
}

.contact {
    margin-left: 21px;
}

.contact h3 {
    margin-bottom: 10px;
    letter-spacing: 0.1px;
}

.contact p {
    font-family: 'Lato_regular', Verdana, sans-serif;
    font-size: 1.23rem;
}

.contact__description {
    line-height: 2.2rem;
    letter-spacing: -0.2px;
    text-align: justify;
}

.contact__address {
    position: relative;
    margin: 25px 0 9px;
    padding-left: 23px;
    letter-spacing: -0.3px;
}

.contact__address:before {
    position: absolute;
    left: 3px;
    content: "";
    display: block;
    width: 7px;
    height: 11px;
    background-image: url(assets/img/form/location.png);
}

.contact__phone {
    position: relative;
    margin-bottom: 10px;
    padding-left: 23px;
    letter-spacing: -0.2px;
    color: #f0d8d9;
}

.contact__phone:hover {
    text-decoration: underline;
}

.contact__phone:before {
    position: absolute;
    top: 0;
    left: 1px;
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    background-image: url(assets/img/form/phone.png);
}

.contact__email {
    position: relative;
    padding-left: 23px;
    color: #f0d8d9;
}

.contact__email:hover {
    text-decoration: underline;
}

.contact__email:before {
    position: absolute;
    top: 3px;
    left: 0;
    content: "";
    display: block;
    width: 13px;
    height: 8px;
    background-image: url(assets/img/form/mail.png);
}

/* footer style */

.footer {
    position: relative;
    height: 76px;
    background-color: #2d303a;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
}

.footer__wrapper p {
    font-size: 1.2rem;
}

.footer__ico .ico-tw {
    margin-right: 5px;
}

.copyright {
    position: relative;
    top: -1px;
    letter-spacing: -0.1px;
}

#message-block {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
}

#message-block.hidden {
    display: none;
}

#message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 120px;
    padding-top: 5px;
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
    font-size: 15px;
}

#message p {
    margin-bottom: 2px;
}

#message p:nth-child(3n) {
    height: 48px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#message button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    cursor: pointer;
}

@media (max-width: 1020px) {
    .vertical-iphone {
        margin-right: 54px;
    }
}

@media (max-width: 768px) {
    .vertical-iphone {
        margin-right: 27px;
    }

    .tab__image {
        flex: 1 0 25%;
    }

    .personality {
        margin: 7.5px;
    }
}

@media (max-width: 375px) {
    .tab__image {
        flex: 1 0 35%;
        margin: 5px;
    }

    .personality {
        flex: 1 0 50%
    }
}